 .main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
} 

.main .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #585858;
}

.main .nav img {
  width: 50px;
  border-radius: 50%;
}

.main-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: auto;
}

.greet {
  text-align: center;
  margin-bottom: 20px;
}

.greet p {
  font-size: 64px;
  color: #908e8e;
}

.greet p span {
 
background: -o-linear-gradient(74deg, #4b90ff, #ff5546);
 
background: linear-gradient(16deg, #4b90ff, #ff5546);
-webkit-background-clip: text;
        background-clip: text;
-webkit-text-fill-color: transparent;
text-fill-color: transparent;
font-weight: bold;
font-size: 75px;
color: #c4c7c5;
}

.cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  height: 100px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  padding: 15px;
  background-color: #f0f4f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}

.card:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  font-size: 16px;
  color: #555;
}

.card img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (min-width: 600px) {
  .greet p {
    font-size: 28px;
  }

  .cards {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .greet p {
    font-size: 32px;
  }

  .cards {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.main-bottom {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; */
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width:1200px;
  margin: 1% 21%;
  
  padding: 100px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.bottom-info{
  display: flex;
  align-items:center;
  padding-left: 20% ;
}
.search-box {
  
  display: flex;
 align-items: center;
 justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
   width: 100%;
  max-width: 75%;
  
  height: 55px;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}

.search-box input {
  
          flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.search-box div {
 align-items: center;
  display: flex;
  gap: 150px;
}


  .search-box input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10%;
  }

.main .bottom-info{
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;

}

.result{
  padding: 0px 5% ;
  max-height: 70vh;
  overflow-y:scroll ;
  text-align: cenetr;
}
.result::-webkit-scrollbar{
  display: none;
  text-align: center;
}

.result-title{
  margin: 40px ;
  display: flex;
  align-items: center;
  gap: 20px;
}

.result img{
  width: 40px;
  border-radius: 50%;
  gap: 20px;
  display: flex;
  align-items: start;
}
.result-data{
  display: flex;
  align-items: start;
  gap: 20px;
  padding-left: 45px;
}



.loader{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loader hr{
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
background-size: 800px 50px;
height: 20px;
animation: loader 3s infinite linear ;

}
@keyframes loader{
  0%{
    background-position: -800px 0px ;
  }
  100%{
    background-position: 800px 0px ;
  }
}
.result-data p{
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}


